@charset "UTF-8";
@media screen and (max-width: 700px) {main {margin-top: ;
    
}}
        
        body {
            background-image: url('imagens/espaco.jpg');
            background-position: center top;
        }
        main {
            background-image: url('imagens/astronauta.png');
            width: 509px;
            height: 500px;
            margin: auto;
            margin-top: 160px;
            
        }